<div *ngIf="rewardItemId && items" class="rewardPanel">
  <ng-container [ngSwitch]="rewardItemId">
    <div class="rewardPanel__item__token">
      <app-token-displayer [itemId]="rewardItemId"></app-token-displayer>
    </div>
  </ng-container>
  <!-- array is zero-indexed but items are one-indexed so minus one here  -->
  <div class="rewardPanel__item" *ngIf="items[rewardItemId - 1] as rewardItem">
    <div class="rewardPanel__item__name">{{ rewardItem.name }}</div>
    <div
      class="rewardPanel__item__description"
      *ngIf="rewardItem.type === itemType.EQUIPMENT"
    >
      <p>Health: {{ rewardItem.health }}</p>
      <p>Attack: {{ rewardItem.attack }}</p>
      <p>Defense: {{ rewardItem.defense }}</p>
      <p>Speed: {{ rewardItem.speed }}</p>
      <p>Rarity: {{ rewardItem.rarity }}</p>
      <!-- <p>Special Ability: {{ rewardItem.specialAbility || "none" }}</p> -->
    </div>
    <div
      class="rewardPanel__item__description"
      *ngIf="rewardItem.type === itemType.POTION"
    >
      <p>Effect: {{ rewardItem.potionEffect }}</p>
    </div>
  </div>
  <div class="rewardPanel__actionMenu" *ngIf="treasurePosition != null">
    <div
      (click)="onTakeTreasureButtonClick(rewardItemId, treasurePosition)"
      class="rewardPanel__actionMenu__action"
    >
      Take
    </div>
    <div
      (click)="ondiscardTreasureButtonClick(treasurePosition)"
      class="rewardPanel__actionMenu__action"
    >
      Discard
    </div>
  </div>
</div>
