<div class="equipmentSlots">
  <div
    *ngIf="equippedWeapon"
    (click)="onEquipmentSlotClick(equippedWeapon)"
    class="equipmentSlots__slot equipmentSlots__slot-weapon"
  >
    <ng-container *ngIf="equippedWeapon.item">
      <app-token-displayer
        [itemId]="equippedWeapon.item.id"
      ></app-token-displayer>
    </ng-container>
  </div>
  <div
    *ngIf="!equippedWeapon"
    class="equipmentSlots__slot equipmentSlots__slot-weaponAlt"
  >
    <p>Weapon</p>
  </div>
  <div
    *ngIf="equippedArmor"
    (click)="onEquipmentSlotClick(equippedArmor)"
    class="equipmentSlots__slot equipmentSlots__slot-armor"
  >
    <ng-container *ngIf="equippedArmor.item">
      <app-token-displayer
        [itemId]="equippedArmor.item.id"
      ></app-token-displayer>
    </ng-container>
  </div>
  <div
    *ngIf="!equippedArmor"
    class="equipmentSlots__slot equipmentSlots__slot-armorAlt"
  >
    <p>Armor</p>
  </div>
</div>
