<div class="playerPanel" *ngIf="player$ | async as player">
  <div class="playerPanel__token">
    <app-warrior-token *ngIf="player?.name === 'Warrior'"></app-warrior-token>
    <app-rogue-token *ngIf="player?.name === 'Rogue'"></app-rogue-token>
  </div>

  <ul>
    <li>
      <p>Name: {{ player.name }}</p>
    </li>
    <li>
      <p>Health: {{ player.health }}</p>
    </li>
    <li>
      <p>Attack: {{ player.attack }}</p>
    </li>
    <li>
      <p>Defense: {{ player.defense }}</p>
    </li>
    <li>
      <p>Speed: {{ player.speed }}</p>
    </li>
  </ul>
</div>
