.playerPanel {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
  }

  &__token {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    color: white;
  }
}
