<div class="inventorySlots">
  <ng-container *ngFor="let inventoryItem of inventoryItems">
    <div
      (click)="onInventorySlotClick(inventoryItem)"
      class="inventorySlots__slot"
    >
      <!-- TODO: Refactor by creating a token selection component -->
      <app-token-displayer
        [itemId]="inventoryItem.item.id"
      ></app-token-displayer>
      <p
        *ngIf="inventoryItem.item.potionType"
        class="inventorySlots__slot__quantityIndicator w3-badge w3-white"
      >
        {{ inventoryItem.itemQuantity }}
      </p>
    </div>
  </ng-container>
</div>
