<main>
  <section style="position: relative">
    <app-board></app-board>
    <app-reward-container></app-reward-container>
  </section>

  <section style="height: 644px; padding: 55px 20px">
    <app-character-container></app-character-container>
    <app-player-container></app-player-container>
    <app-inventory-container></app-inventory-container>
  </section>

  <app-fight-container></app-fight-container>

  <!-- item containre is used for fetching items when the app runs -->
  <app-item-container></app-item-container>
</main>
