<ng-container [ngSwitch]="itemId">
  <app-plain-sword-token *ngSwitchCase="1"></app-plain-sword-token>
  <app-round-shield-token *ngSwitchCase="2"></app-round-shield-token>
  <app-health-potion-token *ngSwitchCase="3"></app-health-potion-token>
  <app-broad-sword-token *ngSwitchCase="4"></app-broad-sword-token>
  <app-viking-shield-token *ngSwitchCase="5"></app-viking-shield-token>
  <app-plain-dagger-token *ngSwitchCase="6"></app-plain-dagger-token>
  <app-bowie-knfie-token *ngSwitchCase="7"></app-bowie-knfie-token>
  <app-relic-blade *ngSwitchCase="8"></app-relic-blade>
  <app-cross-shield *ngSwitchCase="9"></app-cross-shield>
</ng-container>
