<div class="characterContainer" *ngIf="!(isPlayerCreated$ | async)">
  <div>
    <app-character-panel
      [selectedCharacter]="selectedCharacter$ | async"
    ></app-character-panel>
    <app-character-form
      [characters]="characters$ | async"
      [onCharacterSelection]="onCharacterSelection"
      [onSubmit]="onSubmit"
    ></app-character-form>
  </div>
  <div
    style="font-size: 3rem; padding: 3rem; font-family: 'Fira Code', monospace"
  >
    OR
  </div>
  <app-get-player-form></app-get-player-form>
</div>
