<div class="board">
  <div
    class="board__tile"
    *ngFor="let tile of board | async"
    (click)="handleTileClick(tile)"
  >
    <ng-container [ngSwitch]="tile">
      <app-wall-token *ngSwitchCase="'W'"></app-wall-token>
      <app-path-token
        class="board__tile-path"
        *ngSwitchCase="'P'"
      ></app-path-token>
      <div *ngSwitchCase="'S'">
        <div class="board__tile-character" *ngIf="player | async as player">
          <ng-container [ngSwitch]="player.name">
            <app-warrior-token *ngSwitchCase="'Warrior'"></app-warrior-token>
            <app-rogue-token *ngSwitchCase="'Rogue'"></app-rogue-token>
          </ng-container>
        </div>
      </div>
      <div
        *ngSwitchCase="'E'"
        style="background-color: greenyellow; height: 100%"
      ></div>
    </ng-container>
  </div>
</div>
