<div class="board">
  <div class="board__tile" *ngFor="let tile of board | async">
    <app-wall-token *ngIf="tile === 'W'"></app-wall-token>
    <app-path-token *ngIf="tile === 'P'"></app-path-token>
    <div *ngIf="tile === 'S'">
      <div class="board__tile-character" *ngIf="player | async as player">
        <app-warrior-token
          *ngIf="player.name === 'Warrior'"
        ></app-warrior-token>
        <app-rogue-token *ngIf="player.name === 'Rogue'"></app-rogue-token>
      </div>
    </div>
    <div
      *ngIf="tile === 'E'"
      style="background-color: greenyellow; height: 100%"
    ></div>
  </div>
</div>
