<div class="board">
  <ng-container *ngIf="currentPlayerPosition$ | async as currentPlayerPosition">
    <ng-container *ngIf="playerCharacterName$ | async as playerCharacterName">
      <div
        class="board__tile"
        *ngFor="
          let tileType of board$ | async | flattenTiles;
          let position = index;
          trackBy: trackByPositionAndTileType
        "
      >
        <app-tile
          [tileType]="tileType"
          [position]="position"
          [currentPlayerPosition]="currentPlayerPosition"
          [playerCharacterName]="playerCharacterName"
          [onTileClick]="onTileClick"
          [playerId]="playerId$ | async"
        ></app-tile>
      </div>
    </ng-container>
  </ng-container>
</div>
