.playerActions {
  display: flex;
  justify-content: space-between;
  & button {
    padding: 30px 0;
    width: 100px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
    &:disabled {
      display: none;
    }
  }
  & :not(:last-child) {
    margin-right: 50px;
  }
}
