.characterPanel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  &__token {
    height: 300px;
    width: 300px;
    margin-right: 24px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
  }
}
